/* This was made with GlassGenerator.netlify.app */ 

.glass-container{
    width: 700px;
    height: 375px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 0px;
    backdrop-filter: blur(7px);
    background-color: rgba(49,90,104, 0.392);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: 7px rgba(255,255,255,0.4) solid;
    border-bottom: 7px rgba(40,40,40,0.35) solid;
    border-right: 7px rgba(40,40,40,0.35) solid;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
  span {
    display: block;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    font-family: “游ゴシック”, “Yu Gothic”;
    background: #ee7800;
    padding: 8px 0;
    border-radius: 16px;
    max-width: 240px;
    text-align: center;
    transition: .3s;
    cursor:pointer;
    }
    span:hover {
    background: #000;
    }
    input {
    position: relative;
    margin: 8px 0 0 -14px;
    }
    input::before {
    content: “添付ファイル：”;
    position: absolute;
    background: #fff;
    width: 110px;
    height: 26px;
    line-height: 1.8;
    text-align: right;
    }

    body {
        background: linear-gradient(45deg, #8EE419, #141B0A);
        background-size: 400% 400%;
        animation: GradientBackground 10s ease infinite;
      }
    
      @keyframes GradientBackground {
        0% {
          background-position: 0% 50%;
        }
    
        50% {
          background-position: 100% 50%;
        }
    
        100% {
          background-position: 0% 50%;
        }
      };
    